
p {
text-align: center;
font-size: 20px;
color: #000000

}
#batata {
    font-size: 30px;
    
    }

body {
    background-color: #cccccccc;



}
h1 {
    text-align: center;
}
em strong {
    color: #ff0000
}
#banner {
width: 100%;
height: auto;
}

